.product_details{
    margin-top: 100px;

}
.product_details h2 {
    font-size: 1.8rem;
    margin-bottom: 20px;
}
.product_rating{
    display: flex;
    margin-bottom: 4px;
    align-items: center;
}
.product_rating span i{
    color: coral;
}
.product_rating p span{
    color: coral;
    font-weight: 500;
    
}
.product_rating p{
    margin-left: 20px;
}
.product_price{
    font-size: 1.3rem;
    font-weight: 500;
}
/* .buy_btn:hover{
    padding: 10px;
} */
.tab_wrapper{
    color:var(--primary-color);
    font-weight: 500;
}
.active_tab{
    font-weight: 600;
}
@media only screen and (max-width:768px){
    .product_detail h2{
        font-size: 1.3rem;
    }
}